# 01 Основы языка Python

Рассмотрим принципы работы с языком, арифметические операции, вывод на экран.

# 1. Очень простые «программы»
## 1.1 Запуск Python из командной строки
Чтобы выполнить фрагменты кода, мы можем запустить Python из командной строки. В этом блокноте Jupyter мы собираемся смоделировать это. Вы можете вводить команды в поля и выполнять их.
В поле введите:

`print('Hello, World')`

Затем нажмите `<shift> + <return>`, чтобы выполнить команду.

In [ ]:
print('Hello, World')

Hello, World

Что случилось?

Вы только что создали программу, которая печатает слова «Hello, World». Среда Python, в которой вы находитесь, немедленно компилирует все, что вы ввели. Это называется интерпретатор языка.

## 1.2 Математика в Python
Наберите в ячейке
`1 + 1`
и выполните код. (см. п. 1.1.)

In [ ]:
1 + 1

2

Теперь введите

`20 + 80`

выполните код.

In [ ]:
20 + 80

100

Попробуйте и другие операции

`+` сложение

`-` вычитание

`*` умножение

`/` деление

In [ ]:
10 - 5

5

In [ ]:
5 * 2

10

In [ ]:
7 / 3

2.3333333333333335

In [ ]:
print (18 + 5)
print (789 - 12)
print (64745 * 4536)
print (43 / 5)

23
777
293683320
8.6

Существует операция возведения в степень: $5^2 = $ `5 ** 2`. Попробуйте вычислить в строке ниже.

In [ ]:
5 ** 2

25

In [ ]:
6 ** 0,4

(1, 4)

Операции деления с остатком:

// - целая часть от деления

% - остаток от деления

Посчитайте `7//3`, `11%4`

In [ ]:
print (4536 // 45)
print (3258446 % 4526)

100
4252

## 1.3 print - вывод на экран

Рассмотрим синтаксис этой функции. Самый простой пример:

`print()`

Даже если функция не получает никаких аргументов, все равно необходимо вставлять после названия пустые скобки, что значит для интерпретатора выполнить функцию, а не просто ссылаться на нее.

В результате этого будет выведен неотображаемый символ пустой строки, она появиться на экране, не нужно путать это с пустой строкой, в которой вообще нет никаких символов.

Но чаще всего нужно передать какое-то сообщение пользователю, к примеру:

`print('Your message here')`

Следующий пример – вывод строкового значения из переменной:

`message = 'Hello world'`

`print(message)`

In [ ]:
name = 'Alena'
print ('hello,', name)

hello, Alena

Выведем разные типы данных:


```
print('one', 'two', 'three')  # str

print(42)  # int

print(3.14)  # float

print(True)  # bool

print([1, 2, 3])  # list

print({'red', 'green', 'blue'})  # set

print({'name': 'Alice', 'age': 42})  # dict

print((1, 2, 3))  # tuple
```

In [ ]:
print ('one','two','three')
print (563842)
print (33746.14)
print (True)
print ([5, 1, 7])
print ({5, -2, 7})
print ({'red', 'orange', 'blue'})
print ('red,', 'orange,', 'blue')
print ({'name': 'Alena', 'age': 22, 'surname':'Postnikova'})
print (7 > 8)

one two three
563842
33746.14
True
[5, 1, 7]
{5, -2, 7}
{'red', 'blue', 'orange'}
red, orange, blue
{'name': 'Alena', 'age': 22, 'surname': 'Postnikova'}
False

Вы также можете распечатать переменные, просто разделив их запятыми
```
name = "Аделаида"
print("Привет", name, "как дела?")
```

In [ ]:
name = 'Алена'
print ('Привет,', name, ', как дела?')

Привет, Алена , как дела?

#1.4 Комментарии

Комментарий это строка кода, которая не выполняется. Служит для разных пояснений. Выполните следующий код:

`# I am a comment. Fear my wrath!`

In [ ]:
# I am a comment. Fear my wrath!

Комментарий — это фрагмент кода, который не запускается. В Python вы добавляете комментарий, помещая перед ним #. # комментирует все, что находится после него в строке, и ничего перед ним. Попробуйте:

`print("food is very nice") #eat me`

In [ ]:
print ('food is very nice') #eat me

food is very nice

# 1.5 Приоритет операций

Помните ту штуку, которую учили на уроках математики, под названием "порядок действий"? Что ж, это применимо и к Python. Вот оно, если вам нужно напомнить:

1. Круглые скобки()
2. Возведение в степень **
3. Умножение *, деление / и остаток %
4. Сложение + и вычитание -

Вот несколько примеров, которые вы можете попробовать:
```
1 + 2 * 3
(1 + 2) * 3
```

In [ ]:
print (1 + 2 * 3)
print ((1 + 2) * 3)

7
9

# Задание 1

Используя оператор print выведите на экран небольшой рассказ о себе. Должно быть использовано не менее 8 операторов print.

Пример:

```
print('Привет всем! Меня зовут Аристотель.')
print("Я родился в городе Стагире, греческой колонии в Халкидиках, недалеко от Афонской горы, между июлем и октябрём в первый год ",99," олимпиады." )
print('Я люблю всякие науки, например философию.')
print("Долгими зиминими вечерами я обычно размышляю о физике.", "А потом о метафизике.")
```

In [ ]:
print('Привет всем! Меня зовут Алена Постникова.')
print("Я родилась в городе Северодвинске, который построен для целей военно-морского флота СССР в ",1936," году." )
print('Я - стрелец по знаку зодиака')
print("Сначала поступила на социолога.", 'А потом на факультут журналистики на программу "Медиакоммуникации".')
print ('Мне 22 года.')
print ('Сейчас я живу в Москве.')
print ('Люблю гулять с друзьями.')
print ('Желаю всем счастья!')

Привет всем! Меня зовут Алена Постникова.
Я родилась в городе Северодвинске, который построен для целей военно-морского флота СССР в  1936  году.
Я - стрелец по знаку зодиака
Сначала поступила на социолога. А потом на факультут журналистики на программу "Медиакоммуникации".
Мне 22 года.
Сейчас я живу в Москве.
Люблю гулять с друзьями.
Желаю всем счастья!

# Задание 2

Карандаш стоит 18 рублей 45 копеек за штуку. Покупатель дал кассиру 500 рублей и хочет купить 8 карандашей. Какую сдачу он должен получить? Ответ дайте в рублях.

In [ ]:
print (18.45 * 8)
print (500 - 147.6)
print ('Ответ:', '352.4 рубля')

147.6
352.4
Ответ: 352.4 рубля

# Задание 3

Ребенок в день съедает два творожка. Творожок продается в упаковках по пять штук. Какое наименьшее число упаковок надо купить, чтобы ребенку хватило на две недели?

In [ ]:
print (28 / 5)
print ('Ответ: 6 упаковок')

5.6
Ответ: 6 упаковок

# Задание 4

Килограмм картошки 32 рубля. У Олега есть 1000 р, из этой суммы он 640 р должен положить на телефон, а на остальные деньги он купил картошку. Сколько килограмм купил Олег, если он получил сдачу 8 рублей?

In [ ]:
print (1000 - 640)
print (352 // 32)
print ('Ответ: 11 кг')

360
11
Ответ: 11 кг